.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    font-size: 20px;
    position: relative;
}


 .container{
    max-width: 900px;
    margin: auto;
}

.greetings{
    margin: 50px 0px;
    font-size: 80px;
    color: blueviolet;
    font-weight: 500;
    padding: 20px;
    
}
.main .greetings span{
     background-image: -webkit-linear-gradient(16deg, #8F0F8F, #f19f1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.main .prompt-cards{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    padding: 20px;
    gap: 20px;
    
    
}

.prompt-card{
    
    padding: 20px;
    cursor: pointer;
    background-color: #f0f4f9;
    border-radius: 13%;
    height: 200px;
    position: relative;
}

.prompt-card .image{

    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    border-radius: 50px;
    bottom: 15px;
    right: 15px;
}

.main .prompt-card p{
    color: #585858;
    font-size: 18px;
}

.main .prompt-card:hover{
    background-color: #d0d0f0;
}

.main-footer{

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    margin: auto;
    max-width: 900px;
    
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #d0d0f0;
    padding: 10px 20px;
    border-radius: 20px;
}

.search-box .search-icons{
    gap: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    font-size: 18px;

}

.footer-infor{
    font-size: 12px;
    font-weight: 500;
    margin: 15px auto;
    text-align: center;

}